.custom-button {
    position: fixed;
    left: 500;
    top: 600;
    padding: 20;
    font-size: 16;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.3 ease-in-out;
}

.custom-button:hover {
    transform: (1.2);
}
