.custom-button {
    position: absolute;
    left: 50px; /* Adjust as needed */
    top: 100px; /* Adjust as needed */
    padding: none;
    font-size: 16px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.custom-button:hover {
    transform: scale(1.2);
}
